<html> 
<head> 
<script src="/soap/ajax/19.0/connection.js" type="text/javascript"></script> 
<script src="/soap/ajax/19.0/apex.js" type="text/javascript"></script> 
<script type="text/javascript"> 

function setupPage() 
{ 

var BOX_DOMAIN = 'www.box.com';

// get page 
var current_url = parent.location.href;
var current_url_without_query = current_url.split('?')[0];
var current_id = current_url_without_query.substr(current_url_without_query.length -15);
var record = sforce.apex.execute('box.Box_Salesforce_Web_Service', 'getRecord', {recordId: current_id}); 

// this sucks, but there is no way to get record type after being processed by apex.js 
var record_type = sforce.apex.execute('box.Box_Salesforce_Web_Service', 'getRecordType', {recordId: current_id}); 

if (record.length == 0) return; 
record = record[0]; 

// email_recipients 
email_recipients = ""; 
if (record.Email) 
{ 
var email_recipients = record.Email; 
} 
record_name = record.Name;
if (record_type == 'Case')
{
    record_name = 'Case #' + record.CaseNumber;
}

// api 
var src = 'https://' + BOX_DOMAIN + '/widget_sso/salesforce?'; 

// html widget 
var server_url = '{!API.Partner_Server_URL_120}'; 
var auth_token = '{"server_url":"' + server_url + '","session_id":"{!User.Session_ID}"}'; 
src = src + 'token=' + escape(auth_token) + '&partner_object_type=' + escape(record_type) + '&partner_object_name=' + escape(record_name) + '&partner_object_email=' + escape(email_recipients) + '&partner_object_id=' + escape(current_id) + '&salesforce_object_typed_id=' + escape(current_id) + '&open_new_window=1&partner_user_id={!URLENCODE($User.Id)}&partner_user_name={!URLENCODE($User.FirstName)}%20{!URLENCODE($User.LastName)}&partner_user_email={!URLENCODE($User.Email)}&email_recipients=' + escape(email_recipients); // + '&debug=1'; 

// write 
document.write('<iframe  src="' + src + '" width="100%" height="100%" name="box_net_widget" allowscriptaccess="always" scrolling="true"></iframe>'); 
document.close(); 
return false; 
} 

</script> 
</head> 
<body onload="setupPage()"> 
</body> 
</html>