<!-- 
  (c) 2008 Appirio, Inc.
  1.0 Maryam Norouzi 10/29/2008 Original
  Description: This s-control encapsulates POSTing to TimeDriver URL
  
 -->
<html>
<head>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<script src="/soap/ajax/13.0/connection.js">
</script>
<script type="text/javascript">
function getURLParameter( name )
{
  name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
  var regexS = "[\\?&]"+name+"=([^&#]*)";
  var regex = new RegExp( regexS );
  var results = regex.exec( window.location.href );
  if( results == null )
    return "";
  else
    return results[1];
}

function init()
{
var whoId_param = getURLParameter('whoId');
var listId_param = getURLParameter('listId');

if (whoId_param != '') {

  window.parent.location = location.protocol + "//" + location.host + "/" + whoId_param;
  }
else if (listId_param != '') {  
  window.parent.location = location.protocol + "//" + location.host + listId_param;
  }

}

</script>
</head>
<body onload="init()">
<p>&nbsp;</p>
</body>
</html>