<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Application Splash Page</title>
<style type="text/css" media="all"> body#splashBody { font-family: arial, helvetica, verdana, sans-serif; font-size: 80%; margin: 0; padding: 0; width: 97%; }
img { border: 0; margin: 0; padding: 0; }
p { margin: 0; padding: 0; }
h1.appName { font-weight: bold; font-size: 100%; color: #FFF; background-color: #638658; padding: 10px 0 10px 8px; margin: 0 0 15px 0; }
h2 { color: #000; padding: 2px 0 2px 8px; margin-top: 0; font-size: 90%; }
h2.exchangeTitle { background-color: #999; }
#splash { margin: 0; padding: 0; width: 100%; }
#splash td { margin: 0; padding: 0; }
#splash #splashLeft { vertical-align: top; background-color: #F3F3EC; border-bottom: 2px solid #638658; }
#splash #splashCenter { display:block; width: 15px; background-color: #FFF; }
#splash #splashRight { vertical-align: top; background-color: #E8E8E8; border-bottom: 2px solid #999; }
#splash #splashLeft .about, #splash #splashLeft .exchange { width: 100%; }
#splash #splashRight .exchange p { font-size: 90%; color: #333; margin: 0 10px 12px 10px; line-height: 1.4em; }
#splash #splashLeft .about p { font-size: 90%; color: #333; margin: 0 10px 12px 15px; line-height: 1.4em; }
#splash #splashLeft .about fieldset { color: #333; margin: 0 15px 10px 15px; padding: 2px; }
#splash #splashLeft .about fieldset ul { padding: 0; margin: .3em 0 .3em 2em; }
#splash #splashLeft .about fieldset li { padding: 0; margin: 0; }
#splash #splashLeft .about legend { font-size: 90%; color: #333; font-weight: bold; }
.imgDiv { text-align: center; padding: 0 0 10px 0; }
</style>
</head>
<body id="splashBody">
<h1 class="appName">Salesforce for Venture Capital</h1>
<table id="splash" cellspacing="0">
<tr>
<td id="splashLeft" width="75%">
<div class="about">
<p><FONT size="2"><!--StartFragment -->Salesforce for Venture Capital helps Venture Capital firms manage their fundraising and investment processes, including acquiring investment commitments from potential limited partners, evaluating investment opportunities, issuing and collecting on capital calls, and generating and sending quarterly reports.
<br>
<br>
Salesforce for Venture Capital can help your business with:
<br>
<br>
<table>
<tr>
<td width=10%>&nbsp;</td>
<td>
<li><FONT size="2">Raising a New Fund</font></li>
<li><FONT size="2">Evaluating Investment Opportunities</font></li>
<li><FONT size="2">Issuing and Collecting on Capital Calls</font></li>
<li><FONT size="2">Quarterly Reporting</font></li>
<li><FONT size="2">Managing Cash Distributions</font></li>
<li><FONT size="2">Shutting Down a Fund</font></li>
</td>
</tr>
</table>
</p>
<p>
<b>Sample Data</b>
<p>
<p><FONT size="2"><!--StartFragment -->
We have preloaded your system with some sample data from a fictional Venture Capital firm. This VC firm has raised four rounds, and is in the middle of raising their fifth. They use Salesforce to track all interactions with existing and potential limited partners, and to manage their investment evaluation process. To get started, we suggest you start with the <b>One Market Fund IV</b> fund and the <b>MeTube</b> Series A investment and click around.
</p>
</p>
<br>
<fieldset>
<legend>Additional Help and Training</legend>
<ul>
<LI><P><FONT size="2">For detailed information about using this application, visit the <A HREF="http://wiki.apexdevnet.com/index.php/Salesforce_for_Venture_Capital" TARGET="_new">Salesforce for Venture Capital Community Page</A></FONT></P></LI>

<li> <p><FONT size="2">For answers to questions about using Salesforce, subscribers can
contact customer support by clicking the Help &amp; Training link within the
Salesforce application</FONT>.</p> </li>
</ul>
</fieldset>
</div>
</td>
<td><div id="splashCenter"></div>
</td>
<td id="splashRight" width="25%">
<div class="exchange">
<h2 class="exchangeTitle">Salesforce Industry Solutions</h2>
<p><FONT size="2">Salesforce Industry Solutions are a series of pre-configured versions of the Salesforce Award-winning CRM system, each for a specific industry sector. </FONT>
</p>
</div>
</td>
</tr>
</table>
</body>
</html>