<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>

<head>
    <script src="/soap/ajax/10.0/connection.js"></script>
    <link rel="stylesheet" type="text/css" href="/sCSS/Theme2/en/dStandard.css" />
<style type="text/css">
body, td {margin:0px; color:#333;}
body {background-repeat: repeat-x; background-position: left top; font-size: 75%; font-family: 'Arial', 'Helvetica', sans-serif; background-color: #F3F3EC;}
.labelCol {padding:2px 10px 2px 2px; margin-left: 12%; text-align:right; font-size: 91%; font-weight: bold; color:#333;}
.dataCol {padding:2px 2px 2px 10px; text-align:left; color: #000000;}
 
</style>

    <script type="text/javascript">
			var id = "{!Investment__c.Id}";
			var graveyardName = "*_Passed Deals_*";
			//check to see if they already  have a graveyard fund
			var query = "SELECT Id FROM vced2__Fund__c WHERE Name = '"+graveyardName+"'";
			document.write(query);
				try{	
						var FundItemsResult = sforce.connection.query(query);
						var FundItemsNum = FundItemsResult.getArray("size");
						var FundItemsRecords = FundItemsResult.getArray("records");	
						if(FundItemsNum == 0){
						//we must create a graveyard fund
						graveyardFund = new sforce.SObject("vced2__Fund__c");
						graveyardFund.set("Name", graveyardName);
                                                graveyardFund.set("vced2__Omit__c",true);
						var newfund = sforce.connection.create([graveyardFund]);
							if(newfund[0].getBoolean("success"))
							{var graveyardId = newfund[0].id;}
							else{alert("There was a problem. Please make sure that the data is valid.");}
						}
						else{var graveyardId = FundItemsRecords[0].Id
						}
						//now we change the investment lookup to the graveyard fund
						DeadInvestment = new sforce.SObject("vced2__Investment__c");
						DeadInvestment.set("Id",id);
						DeadInvestment.set("vced2__Fund_del__c",graveyardId);
                                                DeadInvestment.set("vced2__Status__c","Pass");
						var Result = sforce.connection.update([DeadInvestment]);
					 	if(Result[0].getBoolean("success"))
					 	{
					 		window.parent.parent.location.href = "/" + id;
					 	}
					 	else {alert ("There was a problem. Please make sure that the data is valid.");}
						
					}
					catch (e){alert(e);}
	</script>
</head>
<body/>
</html>