<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>

<head>
    <script src="/soap/ajax/10.0/connection.js"></script>
    <link rel="stylesheet" type="text/css" href="/sCSS/Theme2/en/dStandard.css" />
<style type="text/css">
body, td {margin:0px; color:#333;}
body {background-repeat: repeat-x; background-position: left top; font-size: 75%; font-family: 'Arial', 'Helvetica', sans-serif; background-color: #F3F3EC;}
.labelCol {padding:2px 10px 2px 2px; margin-left: 12%; text-align:right; font-size: 91%; font-weight: bold; color:#333;}
.dataCol {padding:2px 2px 2px 10px; text-align:left; color: #000000;}
 
</style>

    <script type="text/javascript">
			var id = "{!Fund__c.Id}";
			
	var query = "SELECT Id, vced2__Investment_Amount__c from vced2__Investment__c where vced2__Status__c = 'Closed' and vced2__Fund_del__c = '"+ id +"'";
	//document.write(query);
	try{
			var FundItemsResult = sforce.connection.query(query);
			var FundItemsNum = FundItemsResult.getArray("size");
			var FundItemsRecords = FundItemsResult.getArray("records");
			//alert("success!");	 
			 //var amounts = new Array();
			 var Total = 0;
			 for (i=0; i<FundItemsNum; i++)
			 {
			 	amt = Number(FundItemsRecords[i].vced2__Investment_Amount__c);
			 	Total = Total + amt;
			 }
			 Total = thousands( String(Total), ",");
			document.write("<span class='labelCol'>Total Investments</span><span class='dataCol'>$"+Total);
	}
	catch (e) {
	  alert("Error searching for Investments: " + e);
	 }
	 
	 
	 
function thousands( expr, separator){
var i, j = 0, s = expr, formatted = "";
if( s.indexOf('.') > -1 ||
s.indexOf(',') > -1){ return s;}

for( i = s.length; i >= 0; i--){
j++;
if (j % 3 == 0 && i > 0) formatted = separator + s.substring(i-1, i) + formatted; else
formatted = s.substring(i-1, i) + formatted;
}

return formatted;

}

	</script>
    
</head>
<body>
</body>
</html>