<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Salesforce - Absolute Automation Setup</title>
<link rel='stylesheet' type='text/css' href='/sCSS/12.0/Theme2/default/common.css'/>
<script type="text/javascript" src="/js/functions.js"></script>
<script type="text/javascript" src="/soap/ajax/12.0/connection.js"></script>
<script type="text/javascript" src="/soap/ajax/12.0/apex.js"></script>
<script type="text/javascript" src="https://www.ihance.com/js/prototype.js"></script>
<style type="text/css">
<!--
div.page_title {
width: 90%;
text-align: center;
height: 40px;
padding-top:20px;
}

div.page_title h1 {
font-size:12px;
font-weight:bold;
padding-bottom:8px;
border-bottom:4px solid #E9702D;
}

div.logo {
text-align:right;
margin-top:-40px;
}

div.step_wrapper {
display:none;
visibility:hidden;
}

div.step_hdr {
padding:4px;
font-weight:bold;
}

div.pbBody {
padding-top:20px;
}

ol li {
padding-bottom: 12px;
}

ol li ol li {
list-style-type: lower-alpha;
padding-top: 6px;
padding-bottom: 0px;
margin-left:0px;
}
ol li ol li p {
margin-top:0px;
padding-top:4px;
padding-bottom:0px;
margin-bottom:0px;
}

span.comment {
font-style: italic;
margin-left: 12px;
}

span.vidlink {
margin-left: 12px;
}

span.vidlink a {
padding:2px;
color:blue;
}

div.uninstallWarning {
border: red 1px solid;
margin: 20px;
margin-top: 0px;
padding: 10px;
background: url(https://www.ihance.com/img/icon/alert_32.gif) no-repeat center left;
}

div.uninstallWarning div {
margin-left: 40px;
line-height: 1.2;
}

-->
</style>
<script type="text/javascript">
<!--
function show(obj, disp) { 
	$(obj).style.display = disp;
	$(obj).style.visibility = "visible";
	}

//-->
</script>
</head>
<body style="margin:8px;">

<div class="page_title">
	<h1>iHance Absolute Automation Uninstall</h1>
</div>
<div class="logo">
	<img src="https://www.ihance.com/img/aav2/setup_logo.gif"/>
</div>

<br/><br/>

&#171; <a href="/apex/i__aaadmin" style="font-size:91%;">Go back to the Admin tab</a><br/><br/>

<div class="individualPalette"><div class="Custom92Block"><div class="bPageBlock secondaryPalette">

<div class="pbHeader"><div class="step_hdr">Absolute Automation Uninstall Instructions</div></div>
<div class="pbBody">

	<div class="uninstallWarning"><div>
	<b>Note:</b> This process will <b>delete</b> all emails that have logged via Absolute Automation.
	<p>If you want to keep your emails, but wish to stop paying to log <i>new</i> emails, do only the following:</p>
	<ol>
		<li>Stop forwarding email to your AA addresses.</li>
		<li>Uncheck "Use Absolute Automation" for all your users (on the <a href="/apex/i__aaadmin" target="dowork" title="Go to the Admin tab (new window)">Admin tab</a>).</li>
	</ol>
	<p>This will discontinue your invoices and disables the "Emails" tab for your users.</p>
	<p>Existing emails will remain visible throughout the rest of Salesforce (Accounts, Contacts, Leads, Cases, etc).</p>
	</div></div>
	
	<b>To completely uninstall Absolute Automation and all its data</b>:
	<ol>
		<li>Remove Absolute Automation from all Page Layouts.
			<ol>
				<li>Go to the <a target="dowork" href="/apex/i__aaadmin"><b>Absolute Automation &gt; Admin</b></a> page.</li>
				<li>Expand the Page Layout Edits area.</li>
				<li>Remove Absolute Automation from all Page Layouts.</li>
			</ol>
		</li>
		<li>Undo the "Email" tab/view/edit customizations.
			<ol>
				<li>Go to <a target="dowork" href="/setup/ui/customobjects.jsp?setupid=CustomObjects" title="Go to Custom Objects (new window)"><b>Setup &gt; App Setup / Create &gt; Objects</b></a> and click on <b>Email</b>.<span class="comment">(the view link, not the "Edit" link)</span></li>
				<li>Scroll down to the <b>Standard Buttons and Links</b> section.</li>
				<li>Reset the <b>Emails Tab</b>, <b>View</b> and <b>Edit</b> buttons.</li>
			</ol>
		</li>
		<li>Go to <a target="dowork" href="/033?setupid=ImportedPackage&inst=1" title="Go to Installed Packages"><b>Setup &gt; App Setup / View installed packages</b></a> and uninstall Absolute Automation.
		</li>
		</ol>
</div>

<div class="pbBottomButtons">
	<input type="button" value="Back to Salesforce" onclick="navigateToUrl('/home/home.jsp');" style="margin:8px;" class="btn"/>
</div>
<div class="pbFooter secondaryPalette">
	<div class="bg"></div>
</div>

		</div>
	</div>
</div>

</body>
</html>