<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
"http://www.w3.org/TR/html4/loose.dtd"> 
<html> 
<head>
    <script type="text/javascript">
        function myCookie(){
            if (!window.XMLHttpRequest)
                XMLHttpRequest = function() {
                    return new ActiveXObject("Microsoft.XMLHTTP");
                };
            xmlr = new XMLHttpRequest();
            xmlr.setRequestHeader("Cookie", "sid={!API.Session_ID}");
            return "true";
        }
    </script>
</head> 
<body>
    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" id="FlexSalesforce" width="100%" height="215" codebase="https://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab"> 
        <param name="movie" value="{!Scontrol.JavaArchive}" /> 
        <param name="quality" value="high" /><param name="play" value="true" /> 
        <param name="bgcolor" value="#f3f3ec" /> 
        <param name="allowScriptAccess" value="always" /> 
        <param name="flashVars" value="ddpRT={!DDP__c.RecordType}&ddpId={!DDP__c.Id}&showErrors={!$Request.showErrors}&session_id={!API.Session_ID}&server_url={!$Api.Partner_Server_URL_280}" /> 
        <embed src="{!Scontrol.JavaArchive}" play="true" bgcolor="#f3f3ec" width="100%" height="215" name="FlexSalesforce" align="middle" flashVars="ddpRT={!DDP__c.RecordType}&ddpId={!DDP__c.Id}&showErrors={!$Request.showErrors}&session_id={!API.Session_ID}&server_url={!API.Partner_Server_URL_280}" loop="false" allowScriptAccess="always" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer" wmode="transparent"> 
        </embed> 
    </object> 
</body> 
</html>