<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Salesforce - Absolute Automation Setup</title>
<link rel='stylesheet' type='text/css' href='/sCSS/12.0/Theme2/default/common.css'/>
<script type="text/javascript" src="/js/functions.js"></script>
<script type="text/javascript" src="/soap/ajax/12.0/connection.js"></script>
<script type="text/javascript" src="/soap/ajax/12.0/apex.js"></script>
</head>
<body style="margin:8px;">

<h1>obsolete page</h1>
<br/><br/>
Uninstall directions can be found at the bottom of the <a href="/apex/i__aaadmin">Emails &gt; Admin</a> page, on the "Advanced" tab.

</body>
</html>